.fixing-up {
    margin-bottom: 30px;
    text-align: center;
}

.fixing-up h6 {
    margin-bottom: 0;
}

.fixing-up p {    
    margin-bottom: 0;
}

.play-info, .play-quotes {
    margin-bottom: 15px;
}