.also-by {
    margin-top: 15px;
}

.also-by section {
    margin: 20px auto 30px auto;
    padding: 15px;
    border-radius: 15px;
}

.also-by h1 {
    text-align: center;
    font-family: Hamster, cursive;
    letter-spacing: .1rem;
}

.fixing-up {

}

.play-logo {
    /* padding-right: 20%; */
}

.also-by img {
    /* float: right; */
    width: 200px;
    height: auto;
}

.fixing-up h6, .fixing-up p {
    margin-bottom: 0;
}

.play-info, .play-quotes {
    margin-bottom: 15px;
}

.also-by .info-button {
    color: #007bff;
    cursor: pointer;
}

.fixing-up .info-button:hover {
    color: #0256af;
    text-decoration: underline;
}