html {
    scroll-behavior: smooth;
}

:root {
    --cover-orange: rgb(233,92,30);
    --cover-tan: rgb(238,217,172);
    --body-bg-color: rgb(250, 250, 250);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
}

#bootstrap-overrides .btn {
    box-shadow: none;
    outline: none;
}

#bootstrap-overrides .btn-info {
    background-color: var(--cover-orange);
    border-color: var(--cover-orange);
}