.bitsyStories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 70px;
}

.bitsyStories h2 {
    padding-top: 30px;
    margin: 0;
    text-align: center;
}

/* ==================== info styles ==================== */

.book-info {
    padding-top: 50px;
}

.book-info h4 {
    text-align: center;
}

.book-info ol {
    list-style-type: none;
    padding-left: 20px;
}

.book-info Button {
    margin-right: 10px;
}

/* ==================== card styles ==================== */

.bitsyStories .card-wrapper {
    perspective: 800px;
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    height: 500px;
}

.bitsyStories .card-wrapper Button {
    margin-top: 10px;
}

.bitsyStories .card {
    position: relative;
    /* width: 320px;
    height: 210px; */
    width: 100%;
    height: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    /* flip transition */
    -webkit-transition: transform 1.5s; /* Safari and Chrome */
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.bitsyStories .card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #CC3333;
    backface-visibility: hidden;

    color: #fff;
    text-align: center;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.bitsyStories .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #999999;
    backface-visibility: hidden;

    color: #fff;
    text-align: center;
    /* line-height: 200px; */
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

    /* positioning back face */
    -ms-transform: rotateY(-180deg); /* IE 9*/
    -webkit-transform: rotateY(-180deg); /* Safari */
    transform: rotateY(-180deg);
}

/* ==================== ignore this bit ==================== */

.bitsyStories .hcard:hover {
    -ms-transform: rotateY(-180deg); /* IE 9 */
    -webkit-transform: rotateY(-180deg); /* Safari and Chrome */
    transform: rotateY(-180deg);
}