.bitsyStories {
    height: 100%;
    width: auto;
}

.bitsyStories h2 {
    padding-top: 30px;
    margin: 0;
    text-align: center;
}

.bitsy-collections-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 50px;
}

.bitsy-collection {
    margin: 25px 50px;
    padding: 0 30px 20px;
}

.pic-container {
    padding: 20px 0 0 0;
}

.bitsy-collection Button {
    margin: 0 5px 0 5px;
}

.bitsy-collection .card-title {
    font-size: larger;
}