.footer {
    height: 15vh;
    background-color: rgb(23,162,184);
}

.footer ol {
    width: 100%;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    
    margin-bottom: 0;
    padding-top: 2vh;
    
    list-style-type: none;
    text-align: left;
    color: white;

    font-size: medium;
}

.footer li:last-child {
    margin-top: 5px;
    font-size: small;
    font-style: italic;
}

.footer button {
    border: thin solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.footer button:hover {
    border-color: black;
    margin: 0;
}