.header {
    height: 100vh;
    width: auto;

    background: url(../../Assets/headerPlaceholder.jpg);
    background-size: cover;

    color: white;
}

.header .btn-group-vertical {
    align-items: center;
}

.header Button {
    margin: 10px auto 10px auto;
}

.header-text {
    padding-top: 10vh;
    text-align: center;
}

.header-text a {
    color: white;
}