.header {
    height: 100vh;
    width: auto;

    background: url(../../Assets/headerPlaceholder.jpg);
    background-size: cover;

    color: white;
}

.header-text {
    position: absolute;
    top: 100px;
    left: 60%;

    text-align: right;
}