.header {
    height: 100vh;
    width: auto;

    background: url(../../Assets/headerPlaceholder.jpg);
    background-size: cover;

    color: white;
}

.header-text {
    position: absolute;
    top: 100px;
    left: 60%;

    text-align: right;
}

.header-text .btn-group-vertical {
    align-items: flex-end !important;
}

.header-text Button {
    margin: 5px 0 5px 0;
}